body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #ff0099, #493240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  #canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
    animation: pulse 4s infinite ease-in-out;
    mix-blend-mode: screen;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }