body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbbcca;
    margin: 0;
}
.container {
    text-align: center;
    
}
h1 {
    color: #f90680;
}
.btn {
    padding: 10px 15px;
    font-size: 21px;
    border: none;
    cursor: pointer;
    margin: 10px 8px;
    border-radius: 5px;
}
.btn-yes {
    background-color: #4CAF50;
    color: white;
}
.btn-no {
    background-color: #f44336;
    color: white;
    position: absolute;
}